.slide{
    margin-top: 5px;
}

.slide img{
    height: 65vh;
    width: 75vw;
}

.carousel-item img{
    margin-left: 40%;
    max-width: 300px;
    max-height: 300px;  
}

.text{
    color: black;
    font-size:2vh;
    margin-bottom: 10px;
    margin-left: 40%;
}

.mision{
    text-align: center;
    margin: 50px;
}