.logoHuella img{
    width: 300px;
    
}
.logoHuella a{
    border: 4px solid #2e8b45; /*anchura, estilo y color borde*/
padding: 20px; /*espacio alrededor texto*/
background-color: #2e8b45; /*color botón*/
color: #ffffff; /*color texto*/
text-decoration: none; /*decoración texto*/
text-transform: uppercase; /*capitalización texto*/
font-family: 'Helvetica', sans-serif; /*tipografía texto*/
border-radius: 30px; /*bordes redondos*/
width:"250"
}
