*{
    box-sizing: border-box;
    font-family: 'Balsamic Sans';
}
body{
    background-color: beige;
}
header{
    text-align: center;
    background-image: linear-gradient(-60deg, #166439 0%, #afe99ec2 100%);
    color: #fff;
    padding: 10px ;
}
.calculadora{
    display: flex ;
    margin: 2%;
    width: 70%;

}

 h3{
    margin-top: 10px;
    font-size:230%;
    margin: 3%; 
}

.calculadora h1{
    font-size: 100px;
   
}

.calculadora img {
    width: 25vw;
}

.titulos{
    flex-direction: column;
    display: flex;
    width: 100%;
    text-align: center;
    
    
}
.titulos a,.calculadora a:hover{
    background: #000;
    color: #fff;
}

.titulos a, .logoHuella a {
    background-image: linear-gradient(-60deg, #166439 0%, #afe99ec2 100%);
    width: 70%;
    padding: 15px;
    margin-bottom: 20px;
    text-decoration: none;
    color: #000;
    
    font-size:200%; 
    margin: auto;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 10px;

}
.titulos section{
    margin: auto;
}
.Preguntas {
 max-width: 700px;
 margin: auto;
 padding: 20px;
}

section{
    border: 8px solid #302d2dda;
    border-radius: 7px;
    padding: 10px;
    margin: 10px ;
    font-size: 120%;
    
}
label{
    display: block;
    padding: 7px;
    border-radius: 7px;
    cursor: pointer;
    border: 1px dashed #ccc;
    margin-bottom: 3px;
    margin: auto;

}
label:hover{
    background: #96c480;
}
form input,h2 input{
    border:beige;
    background-color: beige;
}
.pantalla_final form{
    height: 100vh;
}
button, .reco{
    width: 30%;
    height: 100%;
    display: block;
    margin: auto;

    background-image: linear-gradient(-60deg, #166439 0%, #afe99ec2 100%);
    border: none;
    cursor: pointer;
    border-radius: 40px;
    margin-top: 10px;
   
    font-size:150%; 
}
button:hover{

    background: #000;
    color: #fff;
}
h2{
    text-align: center; 

}
#resultado1,#resultado2,#resultado3,#total,#text {
    width: 10%;
    font-size: 50px;
    color: darkgreen;
    

    
    
}
label {
    padding-right: 10px;
    font-size: 1rem;
}
/* ventana modal*/



.modal__close{
    text-decoration: none;
    color: #fff;
    background-color: #F26250;
    padding: 1em 3em;
    border: 1px solid ;
    border-radius: 6px;
    display: inline-block;
    font-weight: 300;
    transition: background-color .3s;
}

.modal__close:hover{
    color: #F26250;
    background-color: #fff;
}
.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s .9s;
    --transform: translateY(-100vh);
    --transition: transform .8s;

}

.modal--show{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
    --transform: translateY(0);
    --transition: transform .8s .8s;
}

.modal__container{
    margin: auto;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    background-color: #fff;
    border-radius: 6px;
    padding: 3em 2.5em;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
    transform: var(--transform);
    transition:var(--transition);
}