*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Balsamic Sans';   
}
body{
    background-color: beige;
}
#header{
    position: absolute;
    z-index: 10;
    width: 100%;
}
.navbar{
    padding: 50px 0;
    
}
.navbar-brand{
        font-weight: bold;
        font-size: 1.5em;
        text-transform: uppercase;
        color: #ccc !important;
}
.navbar-brand img{
    width: 80px;
}
.nav-item{
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 50px;
    font-size: 25px;

}
.nav-link{
    color: #ccc;
    letter-spacing: 2px;
    font-size: 700;
}
.nav-link:hover{
background: #dcdde1 !important;
color: #262626 !important;
border-radius: 5px;
transition: all 0.6s ease 0s;
}
.main{
    position: relative;
    background: url(lap3.jpg);
    
    background-size: cover;
    background-position: center;
    padding: 150px 0 2px; 
    
}
h1{ 
    font-size: 80px;
    color: #000000c9;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 6%;
    
}
img {
    width: 20vw;
    text-align: center;
    
}
.toastr a{
    display: flex;
    position: fixed;
    bottom: 0px;
    right: 0px;
    background-image: linear-gradient(-60deg, #166439 0%, #afe99ec2 100%);
   
    min-width: 300px;
    min-height: 30px;
    border-radius: 10px;
    padding: 10px 15px;
    bottom: 10px;
    right: 10px;
    border: solid 2px rgb(40, 112, 49);
}

.publicar{
    text-decoration: none;
    color: #000000;
    font-size: 25px;
}

.toastr a:hover{
    color: #ffffff;
    background-color: rgb(40, 112, 49);
    border: solid 2px rgb(40, 112, 49);
}